
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .bg-cover-flex{ 
  
  background-size: cover;
  display: flex;
  
  }
  
  .overflow-x-hidden {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
  }
  .w-100{
    overflow: hidden;
    margin: 0;
    padding: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
  
  }
  .absolute-top{
  position: absolute;
  top: 46em;
  }
  .text-white{
    color: white;
  }
  
  
  .align-center{
    text-align: center;
  }
  .container{
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .container .text{
    position: relative;
    color: white;
    font-size: 58px;
    font-weight: 900;
    background-color: black;
  
  }
  .container .text.first-text{
    color: #FFF;
  }
  .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid white;
    animation: animate 4s steps(12) infinite;
  }
  @keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
  }
  
  .container-first {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  
  .text-font {
    text-transform: uppercase;
    font-size: 80px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
  }
  .bg-black .text-white {
    background-color: black;
    color: white;
  }
  .relative{
    position: relative;
  }
  .container-btns {
    position: relative;
    top: 12em;
  }
  .btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #f1f1f1;
    cursor: pointer;
  }
  .btn-first:nth-child(1){
    margin-right: 30px;
  }
  .btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
  }
  .text-color-burlywood{
    color: burlywood;
    background-color: dimgray;
  }
  .absolute-text-center {
    position: absolute;
    top: 6%;
    left: 3%;
    background: black;
    text-align: center;
    width: 181px;
  }
  .l1 {
    width: 250px;
    height: 3px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
  }
  .l2 {
    width: 140px;
    height: 3px;
    background: black;
    border-radius: 5px;
    position: relative;
    top: 20px;
  }
  
  .logo {
    position: absolute;
    right: 2.9%;
    top: 1%;
    width: 194px;
    height: 146px;
    cursor: pointer;
    object-fit: cover;
  }
  .medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 77%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bulle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
  }
  .bulle img {
    width: 72px;
    margin-top: 3px;
  }
  
  .logo-medias {
    width: 40px;
    height: 40px;
  }
  .number-phone{
    text-decoration: none;
    color: white;
    margin: 10px;
  }
  .fa-phone{
    color: white;
  }
  .margin-1{
    margin: 10px;
  }
  .text-blue {
    color: blue;
  }
  .text-white {
    color: white;
  }
  .inline-block {
    display: inline-block;
  }
  .bg-lightgrey{
    background-color: lightgrey;
  }
  .text-black {
    color: black;
  }
  
  .w-24 {
    width: 24%;
  }
  .fixed{
    position: fixed;
  }
  .bg-black {
    background-color: black;
  }
  .h-212 {
    height: 212px;
  }
  
  .rounded-md {
    border-radius: 5px;
  }
  
  .w-200 {
    width: 200px
  }
  
  .h-28 {
    height: 28px;
  }
  
  .font-black {
    font-weight: 900
  }
  
  .no-underline {
    text-decoration: none;
  }
  .mt-10 {
    margin-top: 10px;
  }
  
  .p-4 {
    padding: 4px;
  }
  
  
  
  
  
  